name: sis-env
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - snowflake-snowpark-python
  - streamlit
  - pandas
  - numpy
  - matplotlib
  - scikit-learn
  - pip
  - pip:
      - altair
      - seaborn
